<%= render "shared/navbar" %>
<div class="container leaderboard_container">

<h1>Plant master</h1>



<div>

<div class="d-flex flex-column justify-content-center text-center">
  <label>hihi</label>
  <%= cl_image_tag current_user.photo.key, style:"height: 40px; width:40px; border-radius: 50%;"%>

</div>





</div>


</div>
