// Specific CSS for your home-page
.bg{
  height: 100vh;
  background: linear-gradient(180deg, rgba(212,254,202,1) 0%, rgba(103,139,84,1) 100%);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.btn {
  margin: 20px 0;
  color: #C8D264;
  background-color: #4C6A3F;
  border-radius: 5px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #C8D264;
}

a:hover {
  color: white;
}


.btn:hover {
  background-color: #4C6A3F;
  text-decoration: none;
}

.subtitle {
  color: #725B39;
  justify-content: center;
  font-size: large;
  margin-top: 42px;
}
.picture {
height: 265px;
width: 265px;
}
