// Specific CSS for your home-page
.bg{
  height: 100vh;
  background: linear-gradient(180deg, rgba(212,254,202,1) 0%, rgba(103,139,84,1) 100%);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.btn{
  justify-content: center;
  border-radius: 50px;
  background-color: #4C6A3F;
  color: #C8D264;
  margin-top: 125px;

}
.btn-primary{
      --bs-btn-border-color: #4C6A3F;
}
a {
  color: white;
  text-decoration: none;
}

.subtitle {
  color: #725B39;
  justify-content: center;
  font-size: large;
  margin-top: 42px;


}
.picture {
height: 165px;
width: 165px;
}
