.bg_leaves{
  background-color: white;
  height: 100vh;
}

.subtitle_leaves{
  color: #725B39;
  font-size: large;
  margin-bottom: 30px;
  opacity: 0.6;
}

.title_leaves{
  color:#725B39;
  font-size: x-large;
  margin-top: 41px;
  font-weight: bold;
}

.description_leaves{
  background-color:  #E9FFE3;
  color: #725B39;
  font-size: medium;
  border-radius: 20px;
  padding: 20px;
  margin-top: 4px;}


.leaves{
  width: 100px;
  height: 100px;
  margin: 0px auto;
  display: block;
}
