.leaderboard_container {
  padding: 20px;
  height: 100%;
  background-image: url('leaderboard_bg.png');
  margin-bottom: 40px;
  background-size: cover;
}

.crown_pic {
  height:40px;
  width: 40px;
  position: relative;
  top: 18px;
  left: 35px;
  transform: rotate(30deg);
};

.first_user {
  position: relative;
  top: -20px;
}

.second_and_third_player {
  position: relative;
  top: -20px;
}

.rest_users {
  position: relative;
  top: -30px;
}
