.bg_not_growing{
  background-color: white;
  height: 100vh;
  min-height: 100%;
}

.subtitle_not_growing{
color: #725B39;
font-size: x-large;
margin: 30px;
font-weight: bold;

}

.title_not_growing{
  color:#725B39;
  font-size: x-large;
  margin-top: 41px;
  font-weight: bold;
}

.description_not_growing{

  text-align: justify;
  background-color:  #E9FFE3;
  color: #725B39;
  font-size: medium;
  border-radius: 20px;
  padding: 10px;
  margin-top: 60px;}


.not_growing{
  width: 100px;
  height: 100px;
  margin: 0px auto;
  display: block;
  border-radius: 4px;
}
