.bg_not_growing{
  background-color: white;
  min-height: 100vh;
  margin-bottom: 30px;
}

.subtitle_not_growing{
color: #725B39;
font-size: x-large;
margin: 30px;
font-weight: bold;
}

.title_not_growing{
  color:#725B39;
  font-size: x-large;
  margin-top: 41px;
  font-weight: bold;
  margin-bottom: 35px;
}

.description_not_growing{
  text-align: justify;
  background-color:  #E9FFE3;
  color: #725B39;
  font-size: medium;
  border-radius: 20px;
  padding: 10px;
  margin-top: 60px;
  line-height: 24px;
  text-align: justify;
}


.not_growing{
  width: 100px;
  height: 100px;
  margin: 0px auto;
  display: block;
  border-radius: 4px;
}
