.option-bg{
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
}

.picture {
  height: 265px;
  width: 265px;
  }

#option-btn {
  margin: 0;
  background-color: #E9FFE3;
  border-radius: 5px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
}

#option-btn:hover {
  color: wheat;
  background-color: #4C6A3F;
}

.option-link {
  color: #725B39;

}




.subtitle {
color: #725B39;
justify-content: center;
font-size: large;
margin-top: 42px;
}
