.bg_signs_of_pests{
  background-color: white;
  height: 100vh;
}

.subtitle_signs_of_pests{
color: #725B39;
font-size: x-large;
margin: 30px;
font-weight: bold;

}

.title_signs_of_pests{
  color:#725B39;
  font-size: x-large;
  margin-top: 41px;
  font-weight: bold;
}

.description_signs_of_pests{
  background-color:  #E9FFE3;
  color: #725B39;
  font-size: medium;
  border-radius: 20px;
  padding: 10px;
  margin-top: 4px;}


.signs_of_pests{
  width: 100px;
  height: 100px;
  margin: 0px auto;
  display: block;
}
