.question-form-select {
  border-radius: 10px;
  background-color: #E9FFE3;
  border: none;
  color: #725B39;
}
.question-bg {
  background-color: white;
  min-height: 100vh;
}

input[type=submit] {
  margin: 0;
  color: #C8D264;
  background-color: #4C6A3F;
  border-radius: 5px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
}

input[type=submit]:hover {
  background-color: #4C6A3F;
  color: white;
  text-decoration: none;
}

.q-title {
  color: #725B39;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}
