.question-form-select {
  border-radius: 20px;
  background-color: #E9FFE3;
  border: none;
}
.question-bg {
  background-color: white;
  height: 100vh;
}

input[type=submit] {
  justify-content: center;
  border-radius: 50px;
  background-color: #4C6A3F;
  color: #C8D264;
  border: none;
  font-size: medium;
  padding: 6px 12px;
}

input[type=submit]:hover {
  background-color: #4C6A3F;
  color: white;
  text-decoration: none;
}

.q-title {
  color: #725B39;
  justify-content: center;
  font-size: 25px;
}
