.bg_treatment{
  background-color: white;

}
.signs{
  background-color:  #E9FFE3;
  color: #725B39;
  font-size: smaller;

}

.not_growing{
  width: 50px;
  height: 50px;
}

.pests{
  width: 50px;
  height: 50px;
}

.leaves{
  width: 50px;
  height: 50px;
}

.roots{
  width: 50px;
  height: 50px;
}

.other{
  font-size: smaller;
}

.signs{
  font-size: smaller;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 37px;
  margin: -7px;
  padding-left: 28px;
}
