.bg_treatment{
  background-color: white;
  height: 100vh;
}
.signs{

  color: #725B39;
  font-size: smaller;
  border-radius: 50px;

}

.not_growing{

  width: 50px;
  height: 50px;
}

.pests{
  width: 50px;
  height: 50px;
}

.leaves{
  width: 50px;
  height: 50px;
}

.roots{
  width: 50px;
  height: 50px;
}


.signs{
  font-size: smaller;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  padding: 14px;
}

.q{
  margin-top: 16px;
  color:#725B39;
}

.pic_1{
  border-radius: 20px;
  background-color:  #E9FFE3;

}

.pic_2{
  border-radius: 20px;
  background-color:  #E9FFE3;

}

.pic_3{
  border-radius: 20px;
  background-color:  #E9FFE3;

}

.pic_4{
  border-radius: 20px;
  background-color:  #E9FFE3;

}
