<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to recommendation_path do%>
          <img src="https://img.icons8.com/small/344/home.png" alt="" style="width:30px; height:30px; margin-left:20px">
      <% end %>
      <%= link_to leaderboard_path do%>
        <img src="https://img.icons8.com/small/344/ranking.png" alt="" style="width:30px; height:30px; margin-left:20px">
      <% end %>
      <% unless current_user.logs.empty? %>
        <%= link_to detail_game_log_path(@navbar_log) do%>
          <img src="https://img.icons8.com/windows/344/potted-plant.png" alt="" style="width:30px; height:30px; margin-left:20px">
        <% end %>
      <% end %>
      <%= link_to profile_path do%>
        <img src="https://img.icons8.com/small/344/user.png" alt="" style="width:30px; height:30px; margin-left:20px; margin-right:20px">
      <% end %>
    <% end %>
  </div>
</div>
