.plant_detail_container {
  background-color: white;
  position: absolute;
  padding: 15px;
  overflow-y: scroll;
  min-height: 100%;
  margin-bottom: 50px;
}

.plant_detail_label_content {
  color: #725B39;
  font-weight: lighter;
  font-size: small;
  text-align: center;
}

#btn-plant-sick {
  font-size: small;
  width: 70%;
  background-color: #E9FFE3;
  color: #725B39;
}

.add_pic {
  border-radius: 4px;
  padding: 4px;
  background-color: #E9FFE3;
  color: #725B39;
  font-size: small;
}

.history_card {
    border: solid 0.5px lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px  lightgray;
    display: flex;
    margin-top: 14px;
}
.score_title {
  color: #725B39;
  font-size: 16px;
  font-weight: bold;
}
