.plant_show_container {
  background-color: white;
  height: 100vh;
  padding: 15px;
}

.plant_show_label_content {
  color: #725B39;
  font-weight: lighter;
  font-size: small;
}

.plant_show_p {
  font-weight: lighter;
  font-size: small;
  margin-top: 20px;
}

.plant_show_logo {
  margin: 5px;
  padding: 5px;
}

.plant_show_container h2 {
  padding: 10px;
}

.plant_show_container label {
  color: #725B39;
  font-weight: bold;
}

.show_details_col {
  margin-top: 25px;
}
