<div class="bg">
  <%# <div class="section"> %>
    <%= image_tag "plantreat_logo.png",:class => "picture"
%>
    <%# <img src="../../assets/images/plantreat_logo.png" alt="logo"> %>
    <h1 class="subtitle">Your way for blooming plants</h1>
    <button type="button" class="btn btn-primary"> <%= link_to 'Get started', new_user_registration_path %> </button>
  <%# </div> %>
</div>
