<div class="bg">
    <%= image_tag "plantreat_logo.png",:class => "picture"%>
    <h1 class="subtitle">Your way for blooming plants</h1>
    <button type="button" class="btn btn-primary"> <%= link_to 'Get started', new_user_registration_path %> </button>
</div>
