<div class="bg_leaves">
  <%= render "shared/navbar" %>
  <%= image_tag "plantreat_logo.png", :class => "plant_show_logo", style: "height:60px; width:60px"%>
  <br>
  <div class="container p-4 text-center">

          <h3 class="title_leaves">What to do when your <%= @plant.name %> leaves are changing color?</h3>
    <img src="https://res.cloudinary.com/patch-gardens/image/upload/w_995,dpr_2,c_fill,q_auto,g_auto/v1621951716/cms/Online%20magazine/Complete%20guide%20to%20watering/3-2_How_do_you_know_if_you_ve_overwatered_your_plants_-min.jpg" class="leaves_image"alt="">

    <h1 class="description_leaves">Lorem ipsum display text to see what to do next with this plant Lorem ipsum display text to see what to do next with this plant Lorem ipsum display text to see what to do next with this plant Lorem ipsum display text to see what to do next with this plant Lorem ipsum display text to see what to do next with this plantLorem ipsum display text to see what to do next with this plantLorem ipsum display text to see what to do next with this plant</h1>

  </div>
</div>
