<div class="bg_leaves">
  <%= render "shared/navbar" %>
  <%= image_tag "plantreat_logo.png", :class => "plant_show_logo", style: "height:60px; width:60px"%>
  <br>
  <div class="container p-4 text-center">

          <h3 class="title_leaves">What to do when your <%= @plant.name %> leaves are changing color?</h3>
    <img src="https://res.cloudinary.com/patch-gardens/image/upload/w_995,dpr_2,c_fill,q_auto,g_auto/v1621951716/cms/Online%20magazine/Complete%20guide%20to%20watering/3-2_How_do_you_know_if_you_ve_overwatered_your_plants_-min.jpg" class="leaves_image"alt="">

    <h1 class="description_leaves">There is a scientific answer to why do leaves change colors in the autumn. The fall leaf life cycle starts with the end of summer and the shortening of the days. As the days get shorter, the tree does not have enough sunlight to make food for itself.
    check the soil in the pot to see if the soil is dry. If you believe that the problem is due to under watering, water the plant more often and consider letting the pot sit on a dish to recollect any water that has overflowed, so that the roots can absorb the extra water.

</h1>

  </div>
</div>
