<div class="bg_not_growing">
  <%= render "shared/navbar" %>
  <%= image_tag "plantreat_logo.png", :class => "plant_show_logo", style: "height:60px; width:60px"%>
  <br>
  <div class="container p-4 text-center">

          <h3 class="title_not_growing">What to do when your <%= @plant.name %> is not growing?</h3>
    <img src="https://cdn.shopify.com/s/files/1/0417/7140/1380/files/Signs-You-Are-Underwatering-Your-Indoor-Plant_Image_3_480x480.jpg?v=1629276351" class="leaves_image"alt="">

    <h1 class="description_not_growing">Repotting: If your plant isn’t growing, check to see if it’s rootbound. If the roots are too crowded, there may not be enough soil to hold adequate water and nutrients, and the plant may starve. Look for roots growing on the surface of the soil, or extending through the drainage hole. The new pot should be only slightly larger, as a pot that holds too much soil can retain water that leads to root rot. Be sure the new pot has a drainage hole in the bottom.

</h1>

  </div>
</div>
