<div class="bg_not_growing">
  <%= render "shared/navbar" %>
  <%= image_tag "plantreat_logo.png", :class => "plant_show_logo", style: "height:60px; width:60px"%>
  <br>
  <div class="container">
    <img src="https://cdn-icons-png.flaticon.com/512/4772/4772398.png" class="not_growing"alt="">
          <h3 class="title_not_growing">Sorry to hear that your <%= @plant.name %>  not growing! </h3>
          <h3 class="subtitle_not_growing">No worries , PLANTREAT got you covered.</h3>

    <h1 class="description">Lorem ipsum dolor sit amet,
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper,Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
   i tation ullamcorper
    </h1>
  </div>
</div>
