<div class="bg_roots">
  <%= render "shared/navbar" %>
  <%= image_tag "plantreat_logo.png", :class => "plant_show_logo", style: "height:60px; width:60px"%>
  <br>
  <div class="container p-4 text-center">

    <h3 class="title_roots">What to do when your <%= @plant.name %> roots pocking out?</h3>
    <img src="https://images.unsplash.com/photo-1639714795325-8d693145b44d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="leaves_image"alt="">
    <h1 class="description_roots">Prune away any dead roots, which will appear black. To stimulate new root growth, use a clean, sharp knife to create a few light slashes along the sides of the rootball lightly. This will help the plant to establish in its new container.</h1>

  </div>
</div>
