<div class="bg_pests">
  <%= render "shared/navbar" %>
  <%= image_tag "plantreat_logo.png", :class => "plant_show_logo", style: "height:60px; width:60px"%>
  <br>
  <div class="container p-4 text-center">

          <h3 class="title_pests">What to do when your <%= @plant.name %> has signs of pests?</h3>
    <img src="https://treesunlimitednj.com/wp-content/uploads/Aphids-on-Cherry-Leaf.jpg" class="leaves_image"alt="">

    <h1 class="description_pests">Keep your plants healthy. <br> Think about cross contamination. Some pests, or pest damage, can be wiped off with a damp cloth or snipped off with a quick prune - but if you wipe away a pest on one plant and then use the same cloth on the next plant, you’ll spread the infestation.
    Attract the right insects - there are plant and flower varieties you can grow that will attract the ‘good’ bugs. Open, flat flowering plants like cosmos will encourage ladybirds and lacewings to make your garden their home. These insects prey on the pests that want to feast on your plants, so inviting the favourable insects means they’ll get to work keeping the other critters at bay.</h1>

  </div>
</div>
