treatment

 <div class="col d-flex flex-column align-items-center">
    <%= link_to  treatment_not_growing_path do%>
      <img class="p-2" src="https://img.icons8.com/color-glass/452/growing-plant.png"
        style="height:50px; object-fit: cover; background-color: #E9FFE3; border-radius: 10px">
      <p class="plant_detail_label_content mt-1">not growing</p>
    <% end %>
 </div>
 <div class="col d-flex flex-column align-items-center">
    <%= link_to  treatment_leaves_path do%>
      <img class="p-2" src="https://img.icons8.com/color-glass/452/growing-plant.png"
        style="height:50px; object-fit: cover; background-color: #E9FFE3; border-radius: 10px">
      <p class="plant_detail_label_content mt-1">leaves</p>
    <% end %>
 </div>
 <div class="col d-flex flex-column align-items-center">
    <%= link_to  treatment_roots_sticking_out_path do%>
      <img class="p-2" src="https://img.icons8.com/color-glass/452/growing-plant.png"
        style="height:50px; object-fit: cover; background-color: #E9FFE3; border-radius: 10px">
      <p class="plant_detail_label_content mt-1">roots_sticking_out</p>
    <% end %>
 </div>
 <div class="col d-flex flex-column align-items-center">
    <%= link_to  treatment_signs_of_pest_path do%>
      <img class="p-2" src="https://img.icons8.com/color-glass/452/growing-plant.png"
        style="height:50px; object-fit: cover; background-color: #E9FFE3; border-radius: 10px">
      <p class="plant_detail_label_content mt-1">signs_of_pest</p>
    <% end %>
 </div>
