  <div class="bg_treatment">
  <%= render "shared/navbar" %>
<%= image_tag "plantreat_logo.png", :class => "plant_show_logo", style: "height:60px; width:60px"%>
  <h2 class="q">We are sorry to hear that what happend to your plant?</h2>
    <div class="signs">
    <h1>not growing?</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/4772/4772398.png" class="not_growing"alt="">
    <h1>signs of pests?</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/2674/2674493.png" class="pests" alt="">
    <h1>leaves?</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/1147/1147560.png" class="leaves" alt="">
    <h1>roots sticking out?</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/3239/3239349.png" class="roots" alt="">
    </div>
</div>
