<div class="question-bg">
  <%= render "shared/navbar" %>
  <%= image_tag "plantreat_logo.png", :class => "signup_logo"%>
  <div class="question1-bg d-flex flex-column align-items-center mt-5 p-5">
    <h3 class="q-title mt-0">We have some questions</h3>
    <form action="<%= recommendation_path %>"  method="GET" class="d-flex flex-column align-items-left mt-5">

      <label for="water" class="mt-4" style="color: #725B39">How many times would like to water your plant?</label>
      <select name="water" class="form-select question-form-select" aria-label="Default select example">
        <option selected value="Light Watering">Light Watering</option>
        <option value="Regular Watering">Regular Watering</option>
        <option value="Frequent Watering">Frequent Watering</option>
      </select>

      <label for="light" class="mt-4" style="color: #725B39">Where will you keep your plant?</label>
      <select name="light" class="form-select question-form-select" aria-label="Default select example">
        <option selected value="Low Light">Low Light</option>
        <option value="Medium Light">Medium Light</option>
        <option value="Bright Light">Bright Light</option>
      </select>

      <label for="humidity" class="mt-4" style="color: #725B39">How humid is your plant living space?</label>
      <select name="humidity" class="form-select question-form-select" aria-label="Default select example">
        <option selected value="Low Humidity">Low Humidity</option>
        <option value="Medium Humidity">Medium Humidity</option>
        <option value="High Humidity">High Humidity</option>
      </select>
      <br>
      <input type="submit", value="Submit">
    </form>
  </div>
</div>
