<div class="question-bg">
  <%= render "shared/navbar" %>
  <%= image_tag "plantreat_logo.png", :class => "signup_logo"%>
  <div class="question1-bg d-flex flex-column align-items-center p-5">
    <h3 class="q-title mt-0">We have some questions for you</h3>
    <form action="submit" class="d-flex flex-column align-items-center">

      <label for="plants_type" class="mt-4" style="color: #725B39">How many times would like to water your plant</label>
      <select class="form-select question-form-select" aria-label="Default select example">
        <option selected>Light watering</option>
        <option value="1">Regular watering</option>
        <option value="2">Frequent watering</option>
      </select>

      <label for="plants_type" class="mt-4" style="color: #725B39">Where will you keep your plant?</label>
      <select class="form-select question-form-select" aria-label="Default select example">
        <option selected>Low light</option>
        <option value="1">Medium light</option>
        <option value="2">Bright light</option>
      </select>

      <label for="plants_type" class="mt-4" style="color: #725B39">How humid is your plant living space?</label>
      <select class="form-select question-form-select" aria-label="Default select example">
        <option selected>Low humidity</option>
        <option value="1">Medium humidity</option>
        <option value="2">High humidity</option>
      </select>
      <br>
      <%= link_to 'Submit', recommendation_path, class:"btn btn-primary mt-0 " %>
    </form>
  </div>
</div>
