.navbar-lewagon {
  justify-content: space-between;
  background:white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  position:fixed;
	bottom:0;
	z-index:1000;
  width: 100%;
  border: lightgrey solid 1px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.home{
 color: #725B39;
}

.ranking{
  color: #725B39;
}

.plant{
  color: #725B39;

}

.user{
  color: #725B39;

}
